# Under the Ice

Goal is to create a thermochemical map that can be overlayed onto Enceladus' south pole. Use `chem_data.csv`

In [1]:
%load_ext sql

In [2]:
import os
from dotenv import load_dotenv

In [3]:
load_dotenv("../.env")
user = os.environ.get('POSTGRES_USER')
pw = os.environ.get('POSTGRES_PASSWORD')
db_name = os.environ.get('POSTGRES_DB')
host = 'localhost'
port = 5432
conn_str = f'postgresql://{user}:{pw}@{host}:{port}/{db_name}'

In [4]:
%sql $conn_str

In [10]:
%%sql
-- manifest does not accurately describe what's going on
-- visual check on .csv revealed the schema
CREATE TABLE IF NOT EXISTS chem_data (
    name TEXT,
    formula TEXT,
    molecular_weight INTEGER,
    peak INTEGER,
    sensitivity NUMERIC
);

COPY chem_data
FROM '/home/curious/data/INMS/chem_data.csv'
WITH DELIMITER ',' HEADER CSV;

 * postgresql://postgres:***@localhost:5432/enceladus
Done.
82 rows affected.

[]

In [11]:
%%sql 
select * from chem_data limit 5;

 * postgresql://postgres:***@localhost:5432/enceladus
5 rows affected.

[('Water', 'H2O', 18, 18, Decimal('0.000482')),
 ('Cyanogen', 'C2N2', 52, 52, Decimal('0.000603')),
 ('Carbon Monoxide', 'CO', 28, 28, Decimal('0.000603')),
 ('Carbon Monoxide', 'CO(iso)', 28, 29, Decimal('0.000603')),
 ('Propyne', 'C3H4', 40, 40, Decimal('0.000610'))]

## It shouldn't exist

Named after a giant in greek myth, it first intrigued scientists for its high reflectivity, but was quickly dismissed as a "dead iceball" like its neighbouring moons. Voyager found that it was sitting in the middle of the diffuse and less dramatic E-ring, and hypotheses abound speculating its contribution to the ring. Was it volcanism? Why hasn't it drained out eons ago? Why is it so reflective even after so many inevitable impacts?

E0-2 investigated the first strange phenomenon of Saturn's magnetic fields being *bent* by Enceladus. It also discovered that it spewed ice, creating a small atmosphere. Then the CIRS discovered a hot spot centered on the south pole, when it was expected to be the coldest. Readings of water and organic molecules were later registered. Even stranger - salt and silica were also found

Salt could only mean the presence of liquid water, and liquid meant more heat than predicted

First hypothesis posited tidal pull from Saturn and Dione as the heat source, but stress zones measured did not match

Enceladus is tidal locked to Saturn, rotating only once per *Saturn* year. This meant its face should be static relative to Saturn, except it was not. They also noted that changes in orbital distance changed plumes activity, presumably by varying the tidal stress; this indicated a flexible icy crust. Together this meant that the ice was completely detached from the core - Enceladus had a global ocean underneath.

And still the question remained - where is the heat source to keep things liquid?

Planetary science at the time had no working models to explain the global ocean and plume system, where it could peak 90 deg celsius

If the core was porous, then water could seep in and become heated enough to drive the plumes

With water and heat, the only thing left was the proper chemistry to make up the primordial ooze; specifically H2

E20-22 were dedicated to sample the plumes for hydrogen

## Relating `chem_data.csv` with INMS

Of note:

- dates
- source
- mass table
- mass per charge
- particle energy
- relative speed
- C1/C2 counters

Relate to `mass_peak` in `chem_data.csv`

First, create schema for INMS, and move `chem_data` inside

In [12]:
%%sql
-- make inms schema
DROP SCHEMA IF EXISTS inms CASCADE;
CREATE SCHEMA inms;

-- move chem_data in
ALTER TABLE chem_data
SET SCHEMA inms;

-- load from import.inms
-- recall that the speed is relative to TARGET, i.e. enceladus
SELECT
    sclk::timestamp as time_stamp,
    source::text,
    mass_table,
    alt_t::numeric(9,2) as altitude,
    mass_per_charge::numeric(6,3),
    p_energy::numeric(7,3),
    pythag3(
    sc_vel_t_scx::numeric,
    sc_vel_t_scy::numeric,
    sc_vel_t_scz::numeric
    ) as relative_speed,
    c1counts::integer as high_counts,
    c2counts::integer as low_counts
into inms.readings
from import.inms
order by time_stamp;

ALTER TABLE inms.readings
ADD id SERIAL PRIMARY KEY;

 * postgresql://postgres:***@localhost:5432/enceladus
Done.
Done.
Done.
13857176 rows affected.
Done.

[]

Relate `readings` to `flybys` via `flybys.id`:

In [13]:
%%sql
ALTER TABLE inms.readings
ADD flyby_id INT REFERENCES flybys(id);

 * postgresql://postgres:***@localhost:5432/enceladus
Done.

[]

### EXPLAIN and ANALYZE

An expensive op to be sure, checking each casted timestamp in the 13M rows table.
```sql
-- OPTION 1
UPDATE inms.readings
SET flyby_id = flybys_id
FROM flybys
WHERE flybys.date = inms.readings.time_stamp::date;
```

There is another option involving join:

```sql
-- OPTION 2
UPDATE inms.readings
SET flyby_id = (
    SELECT
        f.id
    FROM flybys f
    WHERE f.date = inms.readings.time_stamp::date
    LIMIT 1
);
```

Simply put `EXPLAIN` in front of the query and postgres will tell us what's what

In [17]:
%%sql
EXPLAIN UPDATE inms.readings
SET flyby_id = flybys.id
FROM flybys
WHERE flybys.date = readings.time_stamp::date;

 * postgresql://postgres:***@localhost:5432/enceladus
9 rows affected.

[('Update on readings  (cost=1.52..358353.90 rows=0 width=0)',),
 ('  ->  Hash Join  (cost=1.52..358353.90 rows=1593532 width=16)',),
 ('        Hash Cond: ((readings.time_stamp)::date = flybys.date)',),
 ('        ->  Seq Scan on readings  (cost=0.00..273133.04 rows=13856804 width=14)',),
 ('        ->  Hash  (cost=1.23..1.23 rows=23 width=14)',),
 ('              ->  Seq Scan on flybys  (cost=0.00..1.23 rows=23 width=14)',),
 ('JIT:',),
 ('  Functions: 10',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',)]

In [18]:
%%sql
EXPLAIN UPDATE inms.readings
SET flyby_id = (
    SELECT
        f.id
    FROM flybys f
    WHERE f.date = inms.readings.time_stamp::date
    LIMIT 1
);

 * postgresql://postgres:***@localhost:5432/enceladus
9 rows affected.

[('Update on readings  (cost=0.00..18910534.42 rows=0 width=0)',),
 ('  ->  Seq Scan on readings  (cost=0.00..18910534.42 rows=13856804 width=10)',),
 ('        SubPlan 1',),
 ('          ->  Limit  (cost=0.00..1.34 rows=1 width=4)',),
 ('                ->  Seq Scan on flybys f  (cost=0.00..1.34 rows=1 width=4)',),
 ('                      Filter: (date = (readings.time_stamp)::date)',),
 ('JIT:',),
 ('  Functions: 9',),
 ('  Options: Inlining true, Optimization true, Expressions true, Deforming true',)]

What do they mean??? These are steps taken by postgres should the query be made.

- all values are estimates
- `cost` - some nebulous unit of compute time; lower the faster
- `rows` - est number of row output

Our `EXPLAIN` results returned 358k for option 1 and 18.9 million for 2, perhaps due to the `WHERE` clause.

### Junction table

There is a hidden option 3 - a junction table exists solely to support a relation between two unrelated tables, i.e. `inms.readings` and `public.flybys`

Create a table with two fields storing the **primary keys** from the two tables. Then the primary key of the junction table could be a combination of the two fields, i.e. `flybys.id` and `readings.id`. Note that does not guarantee *unicity*; records from `inms.readings` could still appear twice

In [46]:
%%sql
-- junction table
DROP TABLE IF EXISTS flyby_readings;
CREATE TABLE flyby_readings(
    reading_id INT NOT NULL UNIQUE REFERENCES inms.readings(id),
    flyby_id INT NOT NULL REFERENCES public.flybys(id), -- CANNOT BE UNIQUE
    PRIMARY KEY (reading_id, flyby_id)
);

 * postgresql://postgres:***@localhost:5432/enceladus
Done.
Done.

[]

Filling in the data

In [21]:
%%sql
-- filling the ID table
EXPLAIN SELECT
    r.id,
    f.id
FROM inms.readings r
JOIN flybys f
ON r.time_stamp::DATE = f.date;

 * postgresql://postgres:***@localhost:5432/enceladus
8 rows affected.

[('Hash Join  (cost=1.52..358353.90 rows=1593532 width=8)',),
 ('  Hash Cond: ((r.time_stamp)::date = f.date)',),
 ('  ->  Seq Scan on readings r  (cost=0.00..273133.04 rows=13856804 width=12)',),
 ('  ->  Hash  (cost=1.23..1.23 rows=23 width=8)',),
 ('        ->  Seq Scan on flybys f  (cost=0.00..1.23 rows=23 width=8)',),
 ('JIT:',),
 ('  Functions: 11',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',)]

In [24]:
%%sql
-- ANALYZE will execute the statement, and analyze performance
EXPLAIN ANALYZE SELECT
    r.id,
    f.id
FROM inms.readings r
JOIN flybys f
ON r.time_stamp::DATE = f.date;

 * postgresql://postgres:***@localhost:5432/enceladus
12 rows affected.

[('Hash Join  (cost=1.52..358353.90 rows=1593532 width=8) (actual time=794.183..14288.897 rows=13310039 loops=1)',),
 ('  Hash Cond: ((r.time_stamp)::date = f.date)',),
 ('  ->  Seq Scan on readings r  (cost=0.00..273133.04 rows=13856804 width=12) (actual time=0.948..10587.385 rows=13857176 loops=1)',),
 ('  ->  Hash  (cost=1.23..1.23 rows=23 width=8) (actual time=790.894..790.896 rows=23 loops=1)',),
 ('        Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('        ->  Seq Scan on flybys f  (cost=0.00..1.23 rows=23 width=8) (actual time=790.779..790.786 rows=23 loops=1)',),
 ('Planning Time: 0.318 ms',),
 ('JIT:',),
 ('  Functions: 11',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 4.760 ms, Inlining 0.000 ms, Optimization 147.190 ms, Emission 582.165 ms, Total 734.116 ms',),
 ('Execution Time: 14595.949 ms',)]

In [25]:
%%sql
EXPLAIN SELECT
    r.id,
    f.id
FROM inms.readings r
JOIN flybys f
ON DATE_PART('year', time_stamp) = f.year
AND DATE_PART('week', time_stamp) = f.week;

 * postgresql://postgres:***@localhost:5432/enceladus
10 rows affected.

[('Gather  (cost=1001.58..266304.11 rows=7968 width=8)',),
 ('  Workers Planned: 2',),
 ('  ->  Hash Join  (cost=1.57..264507.31 rows=3320 width=8)',),
 ("        Hash Cond: ((date_part('year'::text, r.time_stamp) = (f.year)::double precision) AND (date_part('week'::text, r.time_stamp) = (f.week)::double precision))",),
 ('        ->  Parallel Seq Scan on readings r  (cost=0.00..192301.68 rows=5773668 width=12)',),
 ('        ->  Hash  (cost=1.23..1.23 rows=23 width=12)',),
 ('              ->  Seq Scan on flybys f  (cost=0.00..1.23 rows=23 width=12)',),
 ('JIT:',),
 ('  Functions: 14',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',)]

In [26]:
%%sql
EXPLAIN ANALYZE SELECT
    r.id,
    f.id
FROM inms.readings r
JOIN flybys f
ON DATE_PART('year', time_stamp) = f.year
AND DATE_PART('week', time_stamp) = f.week;

 * postgresql://postgres:***@localhost:5432/enceladus
15 rows affected.

[('Gather  (cost=1001.58..266304.11 rows=7968 width=8) (actual time=66.651..5979.141 rows=13857176 loops=1)',),
 ('  Workers Planned: 2',),
 ('  Workers Launched: 2',),
 ('  ->  Hash Join  (cost=1.57..264507.31 rows=3320 width=8) (actual time=51.392..4376.661 rows=4619059 loops=3)',),
 ("        Hash Cond: ((date_part('year'::text, r.time_stamp) = (f.year)::double precision) AND (date_part('week'::text, r.time_stamp) = (f.week)::double precision))",),
 ('        ->  Parallel Seq Scan on readings r  (cost=0.00..192301.68 rows=5773668 width=12) (actual time=0.656..684.204 rows=4619059 loops=3)',),
 ('        ->  Hash  (cost=1.23..1.23 rows=23 width=12) (actual time=49.403..49.403 rows=23 loops=3)',),
 ('              Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('              ->  Seq Scan on flybys f  (cost=0.00..1.23 rows=23 width=12) (actual time=49.163..49.190 rows=23 loops=3)',),
 ('Planning Time: 0.205 ms',),
 ('JIT:',),
 ('  Functions: 42',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 22.467 ms, Inlining 0.000 ms, Optimization 8.940 ms, Emission 138.487 ms, Total 169.895 ms',),
 ('Execution Time: 6374.784 ms',)]

One is orders of magnitude faster

In [36]:
%%sql
with dups as (
    SELECT
        f.id flybyid,
        r.id readid,
        ROW_NUMBER() OVER (PARTITION BY f.id, r.id) AS dup_count
    FROM inms.readings r
    INNER JOIN flybys f
    ON DATE_PART('year', time_stamp) = f.year
    AND DATE_PART('week', time_stamp) = f.week
)
SELECT * FROM dups
WHERE dup_count > 1
ORDER BY dup_count
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/enceladus
0 rows affected.

[]

In [47]:
%%sql
INSERT INTO flyby_readings(reading_id, flyby_id)
SELECT
    r.id,
    f.id
    --ROW_NUMBER() OVER (PARTITION BY f.id, r.id) AS dup_count
FROM flybys f
INNER JOIN inms.readings r
ON DATE_PART('year', r.time_stamp) = f.year
AND DATE_PART('week', r.time_stamp) = f.week;

 * postgresql://postgres:***@localhost:5432/enceladus
13857176 rows affected.

[]

lists all constraints on a specific table, for troubleshooting

In [67]:
%%sql
SELECT con.*
       FROM pg_catalog.pg_constraint con
            INNER JOIN pg_catalog.pg_class rel
                       ON rel.oid = con.conrelid
            INNER JOIN pg_catalog.pg_namespace nsp
                       ON nsp.oid = connamespace
       WHERE nsp.nspname = 'public'
             AND rel.relname = 'flybys';

 * postgresql://postgres:***@localhost:5432/enceladus
1 rows affected.

[(33501, 'flybys_2_pkey', 2200, 'p', False, False, True, 33495, 0, 33500, 0, 0, ' ', ' ', ' ', True, 0, True, [1], None, None, None, None, None, None, None)]

### Indexes vs Joins

Even though it's good design, the cost needs to be considered; the added cost of storing a 13 million row table created from JOINs may not be justified by the added convenience, especially if *indexing* can already solve the problem of query performance

By indexing `time_stamp`, we would achieve the original goal of faster and easier querying. Index the field we want to join on.

### Timestamps and Indexes

TS to consider:

1. `ins.readings.time_stamp`
2. `flybys.window_start`
3. `flybys.window_end`

Different approaches to structuring and querying the data

### Simple BTREE index

Balanced tree index uses a binary tree with equal distribution of child nodes

```sql
CREATE INDEX CONCURRENTLY idx_ts 
ON inms.readings(time_stamp)
WHERE altitude IS NOT NULL;
```

Lets postgres do the heavy lifting, and takes more storage. Restricting indexing to only rows we're interested in helps.

Any op involving 13M rows will lock the table, but if we add `CONCURRENTLY`, the table will not lock. This feature is usually available only in enterprise versions of other databases.

In [50]:
%%sql
CREATE INDEX idx_ts 
ON inms.readings(time_stamp)
WHERE altitude IS NOT NULL;

 * postgresql://postgres:***@localhost:5432/enceladus
Done.

[]

Try querying using the newly indexed time_stamp field

In [79]:
%%sql
EXPLAIN ANALYZE SELECT * FROM inms.readings
WHERE time_stamp > '2015-12-19 17:48:55.275'
and time_stamp < '2015-12-19 17:49:35.275' 
and altitude is not null;

 * postgresql://postgres:***@localhost:5432/enceladus
4 rows affected.

[('Index Scan using idx_ts on readings  (cost=0.43..25.45 rows=451 width=55) (actual time=3.157..6.628 rows=1175 loops=1)',),
 ("  Index Cond: ((time_stamp > '2015-12-19 17:48:55.275'::timestamp without time zone) AND (time_stamp < '2015-12-19 17:49:35.275'::timestamp without time zone))",),
 ('Planning Time: 0.978 ms',),
 ('Execution Time: 6.706 ms',)]

In [52]:
%%sql
SELECT * FROM inms.readings
WHERE time_stamp > '2015-12-19 17:48:55.275'
and time_stamp < '2015-12-19 17:49:35.275' 
and altitude is not null;

 * postgresql://postgres:***@localhost:5432/enceladus
1175 rows affected.

[(datetime.datetime(2015, 12, 19, 17, 48, 55, 307000), 'csn', '16', Decimal('5003.94'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 1, 0, 13616140, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 341000), 'csn', '16', Decimal('5003.93'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 2, 0, 13616141, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 375000), 'csn', '16', Decimal('5003.91'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 2, 0, 13616142, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 409000), 'csn', '16', Decimal('5003.90'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616143, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 443000), 'csn', '16', Decimal('5003.89'), Decimal('14.000'), Decimal('35.114'), Decimal('9.54'), 0, 0, 13616144, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 477000), 'csn', '16', Decimal('5003.88'), Decimal('15.000'), Decimal('37.622'), Decimal('9.54'), 0, 0, 13616145, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 511000), 'csn', '16', Decimal('5003.87'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 2, 0, 13616146, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 545000), 'csn', '16', Decimal('5003.85'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616147, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 579000), 'csn', '16', Decimal('5003.84'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616148, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 614000), 'csn', '16', Decimal('5003.83'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616149, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 648000), 'csn', '16', Decimal('5003.82'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 2, 0, 13616150, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 682000), 'csn', '16', Decimal('5003.81'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 3, 0, 13616151, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 716000), 'csn', '16', Decimal('5003.79'), Decimal('12.000'), Decimal('30.098'), Decimal('9.54'), 0, 0, 13616152, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 750000), 'csn', '16', Decimal('5003.78'), Decimal('32.000'), Decimal('80.261'), Decimal('9.54'), 0, 0, 13616153, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 784000), 'csn', '16', Decimal('5003.77'), Decimal('14.000'), Decimal('35.114'), Decimal('9.54'), 0, 0, 13616154, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 818000), 'csn', '16', Decimal('5003.76'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 2, 0, 13616155, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 852000), 'csn', '16', Decimal('5003.75'), Decimal('20.000'), Decimal('50.163'), Decimal('9.54'), 0, 0, 13616156, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 886000), 'csn', '16', Decimal('5003.73'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 3, 0, 13616157, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 920000), 'csn', '16', Decimal('5003.72'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 1, 0, 13616158, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 954000), 'csn', '16', Decimal('5003.71'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 1, 0, 13616159, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 55, 988000), 'csn', '16', Decimal('5003.70'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 0, 0, 13616160, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 22000), 'csn', '16', Decimal('5003.69'), Decimal('21.000'), Decimal('52.671'), Decimal('9.54'), 0, 0, 13616161, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 56000), 'csn', '16', Decimal('5003.67'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 1, 0, 13616162, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 90000), 'csn', '16', Decimal('5003.66'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 1, 0, 13616163, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 124000), 'csn', '16', Decimal('5003.65'), Decimal('26.000'), Decimal('65.212'), Decimal('9.54'), 0, 0, 13616164, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 158000), 'csn', '16', Decimal('5003.64'), Decimal('27.000'), Decimal('67.720'), Decimal('9.54'), 0, 0, 13616165, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 192000), 'csn', '16', Decimal('5003.63'), Decimal('25.000'), Decimal('62.704'), Decimal('9.54'), 0, 0, 13616166, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 226000), 'csn', '16', Decimal('5003.62'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 1, 0, 13616167, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 260000), 'csn', '16', Decimal('5003.60'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616168, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 294000), 'csn', '16', Decimal('5003.59'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 1, 0, 13616169, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 328000), 'csn', '16', Decimal('5003.58'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 0, 0, 13616170, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 362000), 'csn', '16', Decimal('5003.57'), Decimal('24.000'), Decimal('60.196'), Decimal('9.54'), 0, 0, 13616171, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 396000), 'csn', '16', Decimal('5003.56'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 0, 0, 13616172, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 430000), 'csn', '16', Decimal('5003.55'), Decimal('12.000'), Decimal('30.098'), Decimal('9.54'), 0, 0, 13616173, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 464000), 'csn', '16', Decimal('5003.53'), Decimal('32.000'), Decimal('80.261'), Decimal('9.54'), 0, 0, 13616174, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 498000), 'csn', '16', Decimal('5003.52'), Decimal('14.000'), Decimal('35.114'), Decimal('9.54'), 0, 0, 13616175, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 532000), 'csn', '16', Decimal('5003.51'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 1, 0, 13616176, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 566000), 'csn', '16', Decimal('5003.50'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 2, 0, 13616177, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 600000), 'csn', '16', Decimal('5003.49'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616178, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 634000), 'csn', '16', Decimal('5003.48'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 1, 0, 13616179, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 669000), 'csn', '16', Decimal('5003.47'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 2, 0, 13616180, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 703000), 'csn', '16', Decimal('5003.45'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 0, 0, 13616181, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 737000), 'csn', '16', Decimal('5003.44'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 1, 13616182, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 771000), 'csn', '16', Decimal('5003.43'), Decimal('12.000'), Decimal('30.098'), Decimal('9.54'), 0, 0, 13616183, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 805000), 'csn', '16', Decimal('5003.42'), Decimal('32.000'), Decimal('80.261'), Decimal('9.54'), 0, 0, 13616184, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 834000), 'osi', '25', Decimal('5003.41'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616185, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 868000), 'osi', '25', Decimal('5003.40'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616186, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 902000), 'osi', '25', Decimal('5003.39'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616187, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 936000), 'osi', '25', Decimal('5003.38'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616188, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 56, 970000), 'osi', '25', Decimal('5003.36'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 0, 0, 13616189, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 4000), 'osi', '25', Decimal('5003.35'), Decimal('3.000'), Decimal('7.524'), Decimal('9.54'), 0, 0, 13616190, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 38000), 'osi', '25', Decimal('5003.34'), Decimal('5.000'), Decimal('12.541'), Decimal('9.54'), 0, 0, 13616191, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 72000), 'osi', '25', Decimal('5003.33'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616192, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 106000), 'osi', '25', Decimal('5003.32'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616193, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 140000), 'osi', '25', Decimal('5003.31'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616194, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 174000), 'osi', '25', Decimal('5003.30'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616195, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 208000), 'osi', '25', Decimal('5003.29'), Decimal('14.000'), Decimal('35.114'), Decimal('9.54'), 1, 0, 13616196, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 242000), 'osi', '25', Decimal('5003.28'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 0, 0, 13616197, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 276000), 'osi', '25', Decimal('5003.26'), Decimal('32.000'), Decimal('80.261'), Decimal('9.54'), 0, 0, 13616198, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 310000), 'osi', '25', Decimal('5003.25'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616199, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 344000), 'osi', '25', Decimal('5003.24'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616200, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 378000), 'osi', '25', Decimal('5003.23'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616201, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 412000), 'osi', '25', Decimal('5003.22'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616202, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 446000), 'osi', '25', Decimal('5003.21'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616203, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 480000), 'osi', '25', Decimal('5003.20'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 0, 0, 13616204, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 514000), 'osi', '25', Decimal('5003.19'), Decimal('3.000'), Decimal('7.524'), Decimal('9.54'), 0, 0, 13616205, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 548000), 'osi', '25', Decimal('5003.18'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616206, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 582000), 'osi', '25', Decimal('5003.17'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616207, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 616000), 'osi', '25', Decimal('5003.15'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616208, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 650000), 'osi', '25', Decimal('5003.14'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616209, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 684000), 'osi', '25', Decimal('5003.13'), Decimal('5.000'), Decimal('12.541'), Decimal('9.54'), 0, 1, 13616210, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 718000), 'osi', '25', Decimal('5003.12'), Decimal('14.000'), Decimal('35.114'), Decimal('9.54'), 0, 0, 13616211, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 752000), 'osi', '25', Decimal('5003.11'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 0, 0, 13616212, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 786000), 'osi', '25', Decimal('5003.10'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616213, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 820000), 'osi', '25', Decimal('5003.09'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616214, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 854000), 'osi', '25', Decimal('5003.08'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616215, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 888000), 'osi', '25', Decimal('5003.07'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616216, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 923000), 'osi', '25', Decimal('5003.06'), Decimal('32.000'), Decimal('80.261'), Decimal('9.54'), 0, 0, 13616217, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 957000), 'osi', '25', Decimal('5003.05'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616218, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 57, 991000), 'osi', '25', Decimal('5003.04'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616219, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 25000), 'osi', '25', Decimal('5003.03'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616220, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 59000), 'osi', '25', Decimal('5003.01'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616221, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 93000), 'osi', '25', Decimal('5003.00'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616222, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 127000), 'osi', '25', Decimal('5002.99'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 0, 0, 13616223, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 161000), 'osi', '25', Decimal('5002.98'), Decimal('3.000'), Decimal('7.524'), Decimal('9.54'), 0, 0, 13616224, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 195000), 'osi', '25', Decimal('5002.97'), Decimal('5.000'), Decimal('12.541'), Decimal('9.54'), 0, 0, 13616225, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 229000), 'osi', '25', Decimal('5002.96'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616226, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 263000), 'osi', '25', Decimal('5002.95'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616227, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 297000), 'osi', '25', Decimal('5002.94'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616228, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 331000), 'osi', '25', Decimal('5002.93'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616229, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 365000), 'osi', '25', Decimal('5002.92'), Decimal('14.000'), Decimal('35.114'), Decimal('9.54'), 0, 0, 13616230, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 399000), 'osi', '25', Decimal('5002.91'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 0, 0, 13616231, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 433000), 'osi', '25', Decimal('5002.90'), Decimal('32.000'), Decimal('80.261'), Decimal('9.54'), 0, 1, 13616232, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 467000), 'osi', '25', Decimal('5002.89'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616233, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 501000), 'osi', '25', Decimal('5002.88'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616234, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 535000), 'osi', '25', Decimal('5002.87'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616235, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 569000), 'osi', '25', Decimal('5002.86'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616236, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 603000), 'osi', '25', Decimal('5002.85'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616237, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 637000), 'osi', '25', Decimal('5002.84'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 0, 0, 13616238, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 671000), 'osi', '25', Decimal('5002.83'), Decimal('3.000'), Decimal('7.524'), Decimal('9.54'), 1, 0, 13616239, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 705000), 'osi', '25', Decimal('5002.82'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 1, 0, 13616240, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 739000), 'osi', '25', Decimal('5002.81'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616241, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 773000), 'osi', '25', Decimal('5002.80'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616242, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 807000), 'osi', '25', Decimal('5002.79'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616243, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 841000), 'osi', '25', Decimal('5002.78'), Decimal('5.000'), Decimal('12.541'), Decimal('9.54'), 0, 0, 13616244, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 875000), 'osi', '25', Decimal('5002.77'), Decimal('14.000'), Decimal('35.114'), Decimal('9.54'), 0, 0, 13616245, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 909000), 'osi', '25', Decimal('5002.76'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 0, 0, 13616246, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 943000), 'osi', '25', Decimal('5002.75'), Decimal('16.000'), Decimal('40.130'), Decimal('9.54'), 0, 0, 13616247, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 58, 978000), 'osi', '25', Decimal('5002.74'), Decimal('17.000'), Decimal('42.639'), Decimal('9.54'), 0, 0, 13616248, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 12000), 'osi', '25', Decimal('5002.73'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616249, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 46000), 'osi', '25', Decimal('5002.72'), Decimal('19.000'), Decimal('47.655'), Decimal('9.54'), 0, 0, 13616250, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 80000), 'osi', '25', Decimal('5002.71'), Decimal('32.000'), Decimal('80.261'), Decimal('9.54'), 0, 0, 13616251, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 114000), 'osi', '25', Decimal('5002.70'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616252, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 142000), 'csn', '16', Decimal('5002.69'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 1, 0, 13616253, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 176000), 'csn', '16', Decimal('5002.68'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616254, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 210000), 'csn', '16', Decimal('5002.67'), Decimal('18.000'), Decimal('45.147'), Decimal('9.54'), 0, 0, 13616255, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 244000), 'csn', '16', Decimal('5002.66'), Decimal('28.000'), Decimal('70.228'), Decimal('9.54'), 2, 0, 13616256, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 278000), 'csn', '16', Decimal('5002.65'), Decimal('1.000'), Decimal('2.508'), Decimal('9.54'), 0, 0, 13616257, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 312000), 'csn', '16', Decimal('5002.64'), Decimal('2.000'), Decimal('5.016'), Decimal('9.54'), 0, 0, 13616258, None),
 (datetime.datetime(2015, 12, 19, 17, 48, 59, 346000), 'csn', '16', Decimal('5002.63'), Decimal('44.000'), Decimal('110.359'), Decimal('9.54'), 0, 0, 13616259, None),

With timestamp indexed, join the `flybys` table with `window_start` and `window_end`

In [60]:
%%sql
SELECT
    name,
    mass_per_charge,
    time_stamp,
    inms.readings.altitude
FROM inms.readings
INNER JOIN flybys
ON time_stamp >= window_start::timestamp
AND time_stamp <= window_End::timestamp
WHERE flybys.id = 4
limit 10;

 * postgresql://postgres:***@localhost:5432/enceladus
(psycopg2.errors.UndefinedColumn) column "name" does not exist
LINE 2:     name,
            ^
HINT:  Perhaps you meant to reference the column "flybys.date".

[SQL: SELECT
    name,
    mass_per_charge,
    time_stamp,
    inms.readings.altitude
FROM inms.readings
INNER JOIN flybys
ON time_stamp >= window_start
AND time_stamp <= window_End
WHERE flybys.id = 4
limit 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)

Missed `flybys.name`...

Use `flybys_id` to make it

In [71]:
%%sql
ALTER TABLE flybys
DROP name;

ALTER TABLE flybys
ADD name TEXT;

UPDATE flybys
SET name = CONCAT('E-', id - 1);

 * postgresql://postgres:***@localhost:5432/enceladus
Done.
Done.
23 rows affected.

[]

In [89]:
%%sql
EXPLAIN ANALYZE SELECT
    f.name,
    r.mass_per_charge,
    r.time_stamp,
    r.altitude
FROM inms.readings r
INNER JOIN flybys f
ON r.time_stamp >= f.window_start
AND r.time_stamp <= f.window_end
WHERE f.id = 4;

 * postgresql://postgres:***@localhost:5432/enceladus
13 rows affected.

[('Nested Loop  (cost=0.00..480995.69 rows=1539686 width=53) (actual time=257.263..1314.147 rows=1175 loops=1)',),
 ('  Join Filter: ((r.time_stamp >= f.window_start) AND (r.time_stamp <= f.window_end))',),
 ('  Rows Removed by Join Filter: 13856001',),
 ('  ->  Seq Scan on flybys f  (cost=0.00..1.29 rows=1 width=48) (actual time=18.254..18.259 rows=1 loops=1)',),
 ('        Filter: (id = 4)',),
 ('        Rows Removed by Filter: 22',),
 ('  ->  Seq Scan on readings r  (cost=0.00..273136.76 rows=13857176 width=21) (actual time=0.019..758.526 rows=13857176 loops=1)',),
 ('Planning Time: 0.092 ms',),
 ('JIT:',),
 ('  Functions: 8',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 0.726 ms, Inlining 0.000 ms, Optimization 0.419 ms, Emission 17.878 ms, Total 19.022 ms',),
 ('Execution Time: 1315.022 ms',)]

Not seeing `index scan`...search through metadata on indexes

In [78]:
%%sql
SELECT * FROM pg_indexes
WHERE tablename = 'readings';

 * postgresql://postgres:***@localhost:5432/enceladus
2 rows affected.

[('inms', 'readings', 'idx_ts', None, 'CREATE INDEX idx_ts ON inms.readings USING btree (time_stamp) WHERE (altitude IS NOT NULL)'),
 ('inms', 'readings', 'readings_pkey', None, 'CREATE UNIQUE INDEX readings_pkey ON inms.readings USING btree (id)')]

#### When postgres chooses sequential over index

Apparently if the query reads over 5% of the table, it's still faster for sequential scan due to the IO cost of a random index scan. Thus the engine may still choose sequential scan. However when the query is looking for a small subset of the table, ~1%, indexed scan should be faster

In [91]:
%%sql
EXPLAIN ANALYZE SELECT
    f.name,
    r.mass_per_charge,
    r.time_stamp,
    r.altitude
FROM inms.readings r
INNER JOIN flybys f
ON r.time_stamp >= f.window_start
AND r.time_stamp <= f.window_end
WHERE f.id = 4

 * postgresql://postgres:***@localhost:5432/enceladus
13 rows affected.

[('Nested Loop  (cost=0.00..480995.69 rows=1539686 width=53) (actual time=232.840..1324.737 rows=1175 loops=1)',),
 ('  Join Filter: ((r.time_stamp >= f.window_start) AND (r.time_stamp <= f.window_end))',),
 ('  Rows Removed by Join Filter: 13856001',),
 ('  ->  Seq Scan on flybys f  (cost=0.00..1.29 rows=1 width=48) (actual time=10.823..10.826 rows=1 loops=1)',),
 ('        Filter: (id = 4)',),
 ('        Rows Removed by Filter: 22',),
 ('  ->  Seq Scan on readings r  (cost=0.00..273136.76 rows=13857176 width=21) (actual time=0.041..786.811 rows=13857176 loops=1)',),
 ('Planning Time: 0.151 ms',),
 ('JIT:',),
 ('  Functions: 8',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 1.017 ms, Inlining 0.000 ms, Optimization 0.949 ms, Emission 9.863 ms, Total 11.829 ms',),
 ('Execution Time: 1325.899 ms',)]

## Ranges

Postgres supports numeric and datetime ranges. Instead of using `WHERE` and `<=/>=`, we can define a column, `analysis_window`:

In [92]:
%%sql
ALTER TABLE flybys
ADD analysis_window TSRANGE;

UPDATE flybys
SET analysis_window = tsrange(window_start, window_end, '[]');

 * postgresql://postgres:***@localhost:5432/enceladus
Done.
23 rows affected.

[]

The `'[]'` indicates inclusive bounds, vs `'()'` for exclusive bounds

In [93]:
%%sql
SELECT analysis_window FROM flybys LIMIT 5;

 * postgresql://postgres:***@localhost:5432/enceladus
5 rows affected.

[(DateTimeRange(datetime.datetime(2005, 2, 17, 3, 29, 52, 119000), datetime.datetime(2005, 2, 17, 3, 30, 32, 119000), '[]'),),
 (DateTimeRange(datetime.datetime(2005, 3, 9, 9, 7, 43, 98000), datetime.datetime(2005, 3, 9, 9, 8, 23, 98000), '[]'),),
 (DateTimeRange(datetime.datetime(2008, 3, 12, 19, 5, 51, 458000), datetime.datetime(2008, 3, 12, 19, 6, 31, 458000), '[]'),),
 (DateTimeRange(datetime.datetime(2008, 10, 9, 19, 6, 19, 605000), datetime.datetime(2008, 10, 9, 19, 6, 59, 605000), '[]'),),
 (DateTimeRange(datetime.datetime(2009, 11, 2, 7, 41, 37, 503000), datetime.datetime(2009, 11, 2, 7, 42, 17, 503000), '[]'),)]

Use the range with special operators

In [94]:
%%sql
-- @> checks whether the given value is within the range
SELECT name FROM flybys
WHERE analysis_window @> '2005-02-17 03:30:12.119'::timestamp;

 * postgresql://postgres:***@localhost:5432/enceladus
1 rows affected.

[('E-0',)]

Instead of `WHERE, <=, >=`, use `@>`:

In [99]:
%%sql
EXPLAIN ANALYZE
SELECT 
    f.name,
    r.mass_per_charge,
    r.time_stamp,
    r.altitude - f.nadir as distance
from inms.readings r
inner join flybys f 
on f.analysis_window @> r.time_stamp
where f.id = 4;

 * postgresql://postgres:***@localhost:5432/enceladus
13 rows affected.

[('Nested Loop  (cost=0.00..446388.68 rows=13857 width=77) (actual time=366.070..2119.223 rows=1175 loops=1)',),
 ('  Join Filter: (f.analysis_window @> r.time_stamp)',),
 ('  Rows Removed by Join Filter: 13856001',),
 ('  ->  Seq Scan on flybys f  (cost=0.00..2.58 rows=1 width=96) (actual time=8.104..8.110 rows=1 loops=1)',),
 ('        Filter: (id = 4)',),
 ('        Rows Removed by Filter: 22',),
 ('  ->  Seq Scan on readings r  (cost=0.00..273136.76 rows=13857176 width=21) (actual time=0.037..780.102 rows=13857176 loops=1)',),
 ('Planning Time: 0.097 ms',),
 ('JIT:',),
 ('  Functions: 8',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 0.894 ms, Inlining 0.000 ms, Optimization 0.473 ms, Emission 7.626 ms, Total 8.994 ms',),
 ('Execution Time: 2120.289 ms',)]

### Index scan and BTREEs

`@>` cannot be used with BTREE index. Who keeps track of this stuff. Can we use range values on INMS data? If `ip_start` and `ip_end`, the before and after timestamps which bound the tiny 30 ms reading duration, had existed, we could add `tsrange` to inms.readings:

In [100]:
%%sql
ALTER TABLE inms.readings
ADD integration_period tsrange;

UPDATE inms.readings
SET integration_period = tsrange(ip_start, ip_end, '[]');

CREATE INDEX idx_ip_range ON inms.readings
USING GIST(integration_period);

 * postgresql://postgres:***@localhost:5432/enceladus
Done.
(psycopg2.errors.UndefinedColumn) column "ip_start" does not exist
LINE 2: SET integration_period = tsrange(ip_start, ip_end, '[]');
                                         ^

[SQL: UPDATE inms.readings
SET integration_period = tsrange(ip_start, ip_end, '[]');]
(Background on this error at: https://sqlalche.me/e/20/f405)

Ranges would then allow operations like

- overlap
- exclusion
- containment
- existence
- et al.

However we're using a range to constraint results, not querying the range directly

## Back to the speeds

Now that we know the velocities are relative to target, retry the speed calculation from INMS data using the `pythag3`'d relative_speed

In [105]:
%%sql
SELECT
    f.id,
    f.speed,
    avg(r.relative_speed)::numeric(9,1)
FROM flybys f
INNER JOIN inms.readings r
ON r.time_stamp BETWEEN f.window_start and f.window_end
GROUP BY f.speed, f.id
ORDER BY f.id;

 * postgresql://postgres:***@localhost:5432/enceladus
23 rows affected.

[(1, None, Decimal('6.6')),
 (2, None, Decimal('6.6')),
 (3, Decimal('8.2'), Decimal('8.2')),
 (4, Decimal('14.4'), Decimal('14.4')),
 (5, Decimal('17.7'), Decimal('17.7')),
 (6, Decimal('17.7'), Decimal('17.7')),
 (7, Decimal('17.7'), Decimal('17.7')),
 (8, Decimal('7.7'), Decimal('7.7')),
 (9, Decimal('7.7'), Decimal('7.7')),
 (10, Decimal('6.5'), Decimal('6.5')),
 (11, Decimal('6.5'), Decimal('6.6')),
 (12, Decimal('6.8'), Decimal('6.8')),
 (13, Decimal('6.3'), Decimal('6.3')),
 (14, Decimal('6.2'), Decimal('6.2')),
 (15, Decimal('7.4'), Decimal('7.4')),
 (16, Decimal('7.4'), Decimal('7.4')),
 (17, Decimal('7.4'), Decimal('7.4')),
 (18, Decimal('7.5'), Decimal('7.5')),
 (19, Decimal('7.5'), Decimal('7.5')),
 (20, Decimal('7.5'), Decimal('7.5')),
 (21, Decimal('8.5'), Decimal('8.5')),
 (22, Decimal('8.5'), Decimal('8.5')),
 (23, Decimal('9.5'), Decimal('9.5'))]

Seems like a good fit, which means we now also have credible data for the first two missing flybys

## Chem_data

With credible flyby speeds and timestamps, we can relate `chem_data` to see what molecules were detected when, via `inms.readings.mass_per_charge` and `chem_data.peak`

In [109]:
%%sql
SELECT
    f.name,
    r.time_stamp,
    r.altitude,
    c.name as chem
FROM inms.readings AS r
INNER JOIN flybys f
ON f.analysis_window @> r.time_stamp
INNER JOIN inms.chem_data c
ON r.mass_per_charge = c.peak
ORDER BY f.name, r.time_stamp
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/enceladus
5 rows affected.

[('E-0', datetime.datetime(2005, 2, 17, 3, 30, 9, 873000), Decimal('1273.32'), 'Molecular Hydrogen'),
 ('E-0', datetime.datetime(2005, 2, 17, 3, 30, 9, 873000), Decimal('1273.32'), 'Molecular Hydrogen'),
 ('E-0', datetime.datetime(2005, 2, 17, 3, 30, 9, 873000), Decimal('1273.32'), 'Molecular Hydrogen'),
 ('E-0', datetime.datetime(2005, 2, 17, 3, 30, 9, 873000), Decimal('1273.32'), 'Molecular Hydrogen'),
 ('E-0', datetime.datetime(2005, 2, 17, 3, 30, 9, 941000), Decimal('1273.28'), 'Helium')]

In [114]:
%%sql
SELECT
    f.name,
    r.time_stamp,
    r.altitude,
    c.name as chem
FROM inms.readings AS r
INNER JOIN flybys f
ON f.analysis_window @> r.time_stamp
INNER JOIN inms.chem_data c
ON r.mass_per_charge = c.peak
WHERE f.id = 4
ORDER BY f.name, r.time_stamp

 * postgresql://postgres:***@localhost:5432/enceladus
2049 rows affected.

[('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 521000), Decimal('169.46'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 521000), Decimal('169.46'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 521000), Decimal('169.46'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 521000), Decimal('169.46'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 555000), Decimal('169.12'), 'Hydrogen cyanide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 589000), Decimal('168.77'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 623000), Decimal('168.42'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 657000), Decimal('168.08'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 657000), Decimal('168.08'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 657000), Decimal('168.08'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 657000), Decimal('168.08'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 657000), Decimal('168.08'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 725000), Decimal('167.39'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 725000), Decimal('167.39'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 725000), Decimal('167.39'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 51, 725000), Decimal('167.39'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 337000), Decimal('161.24'), 'Benzene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 337000), Decimal('161.24'), 'Benzene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 337000), Decimal('161.24'), 'Benzene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 337000), Decimal('161.24'), 'Benzene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 337000), Decimal('161.24'), 'Benzene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 576000), Decimal('158.87'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 576000), Decimal('158.87'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 576000), Decimal('158.87'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 576000), Decimal('158.87'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 610000), Decimal('158.54'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 610000), Decimal('158.54'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 610000), Decimal('158.54'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 610000), Decimal('158.54'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 712000), Decimal('157.53'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 712000), Decimal('157.53'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 712000), Decimal('157.53'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 712000), Decimal('157.53'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 882000), Decimal('155.86'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 882000), Decimal('155.86'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 882000), Decimal('155.86'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 882000), Decimal('155.86'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 916000), Decimal('155.52'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 916000), Decimal('155.52'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 916000), Decimal('155.52'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 916000), Decimal('155.52'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 52, 950000), Decimal('155.19'), 'Water'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 52000), Decimal('154.19'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 52000), Decimal('154.19'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 52000), Decimal('154.19'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 52000), Decimal('154.19'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 86000), Decimal('153.86'), 'Hydrogen cyanide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 120000), Decimal('153.53'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 154000), Decimal('153.20'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 188000), Decimal('152.87'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 188000), Decimal('152.87'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 188000), Decimal('152.87'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 188000), Decimal('152.87'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 188000), Decimal('152.87'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 256000), Decimal('152.21'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 256000), Decimal('152.21'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 256000), Decimal('152.21'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 256000), Decimal('152.21'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 830000), Decimal('146.68'), 'Helium'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 830000), Decimal('146.68'), 'Helium'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 830000), Decimal('146.68'), 'Helium'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 53, 830000), Decimal('146.68'), 'Helium'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 170000), Decimal('143.46'), 'Molecular Oxygen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 170000), Decimal('143.46'), 'Molecular Oxygen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 170000), Decimal('143.46'), 'Molecular Oxygen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 170000), Decimal('143.46'), 'Molecular Oxygen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 272000), Decimal('142.50'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 272000), Decimal('142.50'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 272000), Decimal('142.50'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 272000), Decimal('142.50'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 442000), Decimal('140.91'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 442000), Decimal('140.91'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 442000), Decimal('140.91'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 442000), Decimal('140.91'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 476000), Decimal('140.59'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 476000), Decimal('140.59'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 476000), Decimal('140.59'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 476000), Decimal('140.59'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 510000), Decimal('140.27'), 'Water'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 612000), Decimal('139.32'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 612000), Decimal('139.32'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 612000), Decimal('139.32'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 612000), Decimal('139.32'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 646000), Decimal('139.01'), 'Hydrogen cyanide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Ethylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Molecular Nitrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 680000), Decimal('138.69'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Molecular Nitrogen (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 714000), Decimal('138.38'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 748000), Decimal('138.06'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 748000), Decimal('138.06'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 748000), Decimal('138.06'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 748000), Decimal('138.06'), 'Carbon Dioxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 748000), Decimal('138.06'), 'Propane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 816000), Decimal('137.43'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 816000), Decimal('137.43'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 816000), Decimal('137.43'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 816000), Decimal('137.43'), 'Krypton'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 919000), Decimal('136.49'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 919000), Decimal('136.49'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 919000), Decimal('136.49'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 919000), Decimal('136.49'), 'Neon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 953000), Decimal('136.17'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 953000), Decimal('136.17'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 953000), Decimal('136.17'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 54, 953000), Decimal('136.17'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 191000), Decimal('134.00'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 191000), Decimal('134.00'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 191000), Decimal('134.00'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 191000), Decimal('134.00'), 'Argon'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 191000), Decimal('134.00'), 'Propyne'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 429000), Decimal('131.84'), 'Butadiyne'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 463000), Decimal('131.53'), 'Propiolonitrile'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 497000), Decimal('131.23'), 'Cyanogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 803000), Decimal('128.49'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 803000), Decimal('128.49'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 803000), Decimal('128.49'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 803000), Decimal('128.49'), 'Molecular Hydrogen'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 974000), Decimal('126.97'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 974000), Decimal('126.97'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 974000), Decimal('126.97'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 55, 974000), Decimal('126.97'), 'Methane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 8000), Decimal('126.67'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 8000), Decimal('126.67'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 8000), Decimal('126.67'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 8000), Decimal('126.67'), 'Methane (isotope)'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 42000), Decimal('126.37'), 'Water'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 142000), Decimal('125.49'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 142000), Decimal('125.49'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 142000), Decimal('125.49'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 142000), Decimal('125.49'), 'Acetylene'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 176000), Decimal('125.20'), 'Hydrogen cyanide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Ethane'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Carbon Monoxide'),
 ('E-3', datetime.datetime(2008, 3, 12, 19, 5, 56, 210000), Decimal('124.90'), 'Carbon Monoxide'),

## High/low sensitivity

Relative density of each compound can be deducted from `high_counts` and `low_counts` in `inms.readings`

In [119]:
%%sql
SELECT
    c.name,
    sum(r.high_counts) as high_counts,
    sum(r.low_counts) as low_counts
FROM flybys f
INNER JOIN inms.readings r
ON r.time_stamp BETWEEN f.window_start AND f.window_end
INNER JOIN inms.chem_data c
ON c.peak = r.mass_per_charge
WHERE f.id = 4
GROUP BY c.name, f.speed
ORDER BY high_counts DESC;

 * postgresql://postgres:***@localhost:5432/enceladus
23 rows affected.

[('Molecular Hydrogen', 5904, 16),
 ('Carbon Monoxide', 2972, 6),
 ('Ethane', 2348, 4),
 ('Ethylene', 2348, 4),
 ('Molecular Nitrogen', 2348, 4),
 ('Methane', 816, 16),
 ('Carbon Dioxide', 440, 4),
 ('Acetylene', 348, 12),
 ('Water', 297, 2),
 ('Methane (isotope)', 268, 8),
 ('Propane', 258, 5),
 ('Molecular Nitrogen (isotope)', 148, 4),
 ('Hydrogen cyanide', 88, 5),
 ('Argon', 20, 0),
 ('Molecular Oxygen', 16, 0),
 ('Krypton', 12, 8),
 ('Helium', 12, 4),
 ('Neon', 8, 4),
 ('Benzene', 5, 5),
 ('Propiolonitrile', 3, 0),
 ('Propyne', 3, 0),
 ('Cyanogen', 2, 0),
 ('Butadiyne', 0, 2)]

As is, the results are misleading. We need to include `source` as well, which informs us on the analyses and how they were performed

From manifest:

Ion source used for this measurement

- 
Open Source Ion (os
- 
•
Closed Source Neutral(
- )
•
Open Source Neutral Beam 
- nb)
•
Open Souce Neutral Therma


Closed source - non-reactive neutrals e.g. CH4, N2

Open - positive-ions

E-3 show that H2 was found using closed source:l (osnt)

In [122]:
%%sql
SELECT
    c.name chem,
    r.source,
    sum(r.high_counts) as high_counts,
    sum(r.low_counts) as low_counts
FROM flybys f
INNER JOIN inms.readings r
ON r.time_stamp BETWEEN f.window_start AND f.window_end
INNER JOIN inms.chem_data c
ON c.peak = r.mass_per_charge
WHERE f.id = 4
GROUP BY c.name, r.source
ORDER BY high_counts DESC;

 * postgresql://postgres:***@localhost:5432/enceladus
42 rows affected.

[('Molecular Hydrogen', 'csn', 5892, 8),
 ('Carbon Monoxide', 'csn', 2944, 5),
 ('Ethane', 'csn', 2328, 4),
 ('Molecular Nitrogen', 'csn', 2328, 4),
 ('Ethylene', 'csn', 2328, 4),
 ('Methane', 'csn', 804, 8),
 ('Carbon Dioxide', 'csn', 436, 0),
 ('Acetylene', 'csn', 348, 0),
 ('Water', 'csn', 296, 1),
 ('Methane (isotope)', 'csn', 252, 0),
 ('Propane', 'csn', 245, 0),
 ('Molecular Nitrogen (isotope)', 'csn', 136, 0),
 ('Hydrogen cyanide', 'csn', 86, 3),
 ('Carbon Monoxide', 'osi', 28, 1),
 ('Molecular Nitrogen', 'osi', 20, 0),
 ('Ethane', 'osi', 20, 0),
 ('Ethylene', 'osi', 20, 0),
 ('Argon', 'csn', 16, 0),
 ('Molecular Oxygen', 'csn', 16, 0),
 ('Methane (isotope)', 'osi', 16, 8),
 ('Propane', 'osi', 13, 5),
 ('Molecular Nitrogen (isotope)', 'osi', 12, 4),
 ('Molecular Hydrogen', 'osi', 12, 8),
 ('Krypton', 'csn', 12, 8),
 ('Methane', 'osi', 12, 8),
 ('Neon', 'csn', 8, 0),
 ('Helium', 'osi', 8, 4),
 ('Benzene', 'csn', 5, 5),
 ('Argon', 'osi', 4, 0),
 ('Carbon Dioxide', 'osi', 4, 4),
 ('Helium', 'csn', 4, 0),
 ('Propiolonitrile', 'csn', 3, 0),
 ('Propyne', 'csn', 2, 0),
 ('Hydrogen cyanide', 'osi', 2, 2),
 ('Cyanogen', 'csn', 2, 0),
 ('Water', 'osi', 1, 1),
 ('Propyne', 'osi', 1, 0),
 ('Acetylene', 'osi', 0, 12),
 ('Butadiyne', 'csn', 0, 2),
 ('Molecular Oxygen', 'osi', 0, 0),
 ('Butadiyne', 'osi', 0, 0),
 ('Neon', 'osi', 0, 4)]

From a recent paper, it has been posited that presence of H2 could be attributed to high-speed sampling of H2O-rich plume using the closed source method. E-21 flyby was used to try and detect H2 using the open source method.

So let's look at E-21

In [123]:
%%sql
SELECT
    c.name chem,
    r.source,
    sum(r.high_counts) as high_counts,
    sum(r.low_counts) as low_counts
FROM flybys f
INNER JOIN inms.readings r
ON r.time_stamp BETWEEN f.window_start AND f.window_end
INNER JOIN inms.chem_data c
ON c.peak = r.mass_per_charge
WHERE f.id = 22
AND r.source != 'csn'
GROUP BY c.name, r.source
ORDER BY high_counts DESC;

 * postgresql://postgres:***@localhost:5432/enceladus
8 rows affected.

[('Water', 'osnb', 34484, 2),
 ('Molecular Hydrogen', 'osnb', 3872, 4),
 ('Carbon Dioxide', 'osnb', 132, 0),
 ('Propane', 'osnb', 33, 0),
 ('Carbon Monoxide', 'osnb', 15, 0),
 ('Molecular Nitrogen', 'osnb', 12, 0),
 ('Ethane', 'osnb', 12, 0),
 ('Ethylene', 'osnb', 12, 0)]

E-21 disproved fears that H2 was simply an artifact of closed source high-speed sampling. Plumes did indeed contain H2, a smoking gun indicator of active hydrothermal systems

What about other life necessities?

In [124]:
%%sql
SELECT
    f.name,
    c.name chem,
    r.source,
    sum(r.high_counts) as high_counts,
    sum(r.low_counts) as low_counts
FROM flybys f
INNER JOIN inms.readings r
ON r.time_stamp BETWEEN f.window_start AND f.window_end
INNER JOIN inms.chem_data c
ON c.peak = r.mass_per_charge
WHERE f.targeted = true
AND C.formula in ('H2', 'CH4', 'CO2', 'H2O')
GROUP BY f.id, f.name, c.name, r.source
ORDER BY f.id;

 * postgresql://postgres:***@localhost:5432/enceladus
46 rows affected.

[('E-2', 'Molecular Hydrogen', 'csn', 744, 0),
 ('E-2', 'Water', 'csn', 101, 0),
 ('E-2', 'Methane', 'osi', 4, 0),
 ('E-2', 'Molecular Hydrogen', 'osi', 4, 4),
 ('E-2', 'Carbon Dioxide', 'osnb', 0, 0),
 ('E-2', 'Methane', 'osnb', 0, 0),
 ('E-2', 'Methane', 'csn', 76, 4),
 ('E-2', 'Water', 'osnb', 1, 0),
 ('E-2', 'Carbon Dioxide', 'csn', 32, 0),
 ('E-2', 'Carbon Dioxide', 'osi', 0, 0),
 ('E-2', 'Water', 'osi', 1, 0),
 ('E-4', 'Molecular Hydrogen', 'csn', 4856, 0),
 ('E-4', 'Carbon Dioxide', 'osnb', 0, 0),
 ('E-4', 'Water', 'csn', 517, 0),
 ('E-4', 'Water', 'osnb', 4, 0),
 ('E-4', 'Methane', 'csn', 936, 4),
 ('E-4', 'Carbon Dioxide', 'csn', 420, 4),
 ('E-4', 'Molecular Hydrogen', 'osnb', 20, 0),
 ('E-4', 'Methane', 'osnb', 16, 0),
 ('E-6', 'Water', 'csn', 419, 0),
 ('E-6', 'Carbon Dioxide', 'csn', 548, 0),
 ('E-6', 'Molecular Hydrogen', 'osnb', 20, 4),
 ('E-6', 'Methane', 'csn', 1028, 0),
 ('E-6', 'Methane', 'osnb', 24, 0),
 ('E-6', 'Carbon Dioxide', 'osnb', 0, 0),
 ('E-6', 'Water', 'osnb', 2, 1),
 ('E-6', 'Molecular Hydrogen', 'csn', 9660, 4),
 ('E-16', 'Carbon Dioxide', 'csn', 324, 0),
 ('E-16', 'Molecular Hydrogen', 'osnb', 4, 0),
 ('E-16', 'Molecular Hydrogen', 'csn', 248, 0),
 ('E-16', 'Carbon Dioxide', 'osnb', 0, 0),
 ('E-16', 'Water', 'csn', 835, 1),
 ('E-16', 'Methane', 'osnb', 0, 0),
 ('E-16', 'Methane', 'csn', 144, 0),
 ('E-16', 'Water', 'osnb', 89, 0),
 ('E-17', 'Methane', 'csn', 85368, 16),
 ('E-17', 'Molecular Hydrogen', 'csn', 104772, 80),
 ('E-17', 'Carbon Dioxide', 'csn', 405780, 76),
 ('E-17', 'Water', 'csn', 1626818, 310),
 ('E-20', 'Water', 'osnb', 9, 3),
 ('E-20', 'Molecular Hydrogen', 'csn', 196, 0),
 ('E-20', 'Molecular Hydrogen', 'osnb', 100, 36),
 ('E-20', 'Methane', 'csn', 16, 4),
 ('E-20', 'Water', 'csn', 20, 0),
 ('E-20', 'Carbon Dioxide', 'csn', 104, 0),
 ('E-20', 'Carbon Dioxide', 'osnb', 44, 12)]

Methanogensis is how deep water microbes convert H2 and CO2 to CH4 and water, forming the basis of deep sea ecosystems. All the ingredients and products are found on Enceladus